<h1>Un nouveau snack veut snapper</h1>

<p>
    Un nouvel utilisateur s'est inscrit.
    <br />Regarde ton admin !
{#    <a href="{{ signedUrl|raw }}">Confirm my Email</a>.#}

</p>

<p>
    Yes !
</p>
