<h1>Un nouveau snack veut snapper</h1>

<p>
    Un nouvel utilisateur s'est inscrit.
    <br />Regarde ton admin !
    <a href="https://snapmenu.be{{ path('god_user_index')}}">Confirm my Email</a>.

</p>

<p>
    Yes !
</p>
