<header class="sticky top-0 w-full text-2xl bg-surface-light/70 border-b-2 border-content-primary-light/30 dark:border-content-primary-dark/30  text-content-primary-light  dark:bg-surface-light/70 dark:text-content-primary-light/70 mb-4 p-4 z-40 absolute top-0 left-0 z-50 rounded-b-md lg:rounded-md"
        {{ stimulus_controller('nav') }}>
    <div class="w-full lg:max-w-7xl m-auto">
        {% include '_partial/_header/_mobile.html.twig' %}
        {% include '_partial/_header/_lg.html.twig' %}
        {% include '_partial/_header/_nav.html.twig' %}
    </div>
</header>
