{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
<div class="py-16">
    <h1 class="text-3xl font-black">Hello, welcome to boilerplate ! ✅</h1>
<div>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ad aliquid animi atque corporis culpa dicta dolor ea error ex exercitationem fugit illo ipsa ipsam iste iusto laborum maxime molestias nisi officia perspiciatis praesentium, quae quis recusandae reiciendis repudiandae sequi sunt tempora, ullam veritatis! Aliquid consectetur consequatur dignissimos error exercitationem harum laborum natus neque officiis, voluptatibus! Aliquid animi debitis ducimus incidunt iure libero magnam minima quasi quia sequi. Dicta ea eos expedita, fuga fugit hic qui quos sint? Consequatur cumque eius est facere iste? Aperiam at atque cum, cumque dicta doloribus eligendi error, esse excepturi facilis molestiae nam nemo odio optio pariatur, perspiciatis quas qui quibusdam reprehenderit saepe sapiente sit temporibus tenetur veniam veritatis vero voluptatem! A adipisci aliquam aliquid dolores doloribus error est facere harum illo incidunt inventore ipsum, iure magnam molestias natus nisi perferendis quasi quos repellendus unde vel, veniam voluptatem? Alias aliquid aperiam, cupiditate distinctio dolorum eos fuga ipsam iure iusto, laboriosam molestiae nisi numquam quasi qui sed sunt unde voluptatibus. At cupiditate delectus dolores hic ipsa libero maiores modi neque non obcaecati porro reiciendis repellat, sint vero voluptatum. Atque autem consequuntur dolor dolorum id ipsa magni modi optio recusandae temporibus. Commodi ea et minus repudiandae vitae.
</div>
</div>
{% endblock %}

