{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
    <div class="py-16">
        <h1 class="text-3xl font-black">Welcome to snapmenu ✅</h1>
        <div class="py-16">
            <ul>
                {% for store in stores %}
                    <li><a href="{{ path('app_menu', {slug: store.slug}) }}">{{ store.name }}</a></li>
                {% else %}
                    no store

                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}

