{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
    {#    <div class="absolute -top-[45vw] top-0 left-1/2 -translate-x-1/2 clear-gradient #}{# dark-gradient #}{# #}{# bg-gradient-to-b from-secondary via-clear-light to-clear #}{# block w-[50vw] h-[50vw] #}{# opacity-7 #}{#  shadow-clear-dark shadow-2xl aspecct-square rounded-full"> #}

    {#    </div> #}

    {#    <div class="relative"> #}

    <div class="my-24 w-10/12 lg:w-2/3 m-auto flex items-center justify-center  ">
        {#            <div class="absolute  -z-10 w-1/2 h-1/5 left-1/2 -translate-x-1/2 top-1/5 -translate-y-1/5  shadow-clear-dark shadow-2xl rounded-full"></div> #}
        {#        Scannez. Commandez. Savourez. #}
        {#        Votre menu en un scan #}
        {#        Découvrez le menu en un clic #}
        {#        Scannez et régalez-vous #}
        {#        Un QR code, tout le menu #}
        <div class="p-12 bg-clear dark:bg-primary relative after:absolute after:content-[' '] after:-z-10 {# after:w-11/12 #} after:inset-x-[1rem] {# after:h-11/12 #} after:inset-y-[1rem]  after:shadow-secondary dark:after:shadow-clear-dark after:shadow-xl after:rounded-xl">
            <h1 class="text-5xl font-black leading loose">Snapmenu:<br/> Un QR code, tout le menu</h1>
            <h2 class="my-12 text-2xl font-bold leading-loose">Dites adieu aux menus papier. Scannez le code QR pour
                découvrir le
                menu
                complet et commandez directement depuis un téléphone.</h2>
            <div class="flex flex-col md:flex-row space-y-8  md:space-x-8 md:space-y-0 md:justify-center">
                <a href="#"
                   class="w-full md:w-auto px-4 py-2 text-xl font-semibold text-clear  bg-secondary border border-secondary-dark rounded-lg text-center">
                    Je regoins Snapmenu
                </a>
                <a href="#"
                   class="w-full md:w-auto px-4 py-2  text-xl font-semibold border text-secondary-dark dark:text-clear border-secondary-dark  dark:border-clear  rounded-lg text-center">
                    Voir les Restaurants
                </a>
            </div>
        </div>
    </div>
    {#    </div> #}




    <div class="py-16">
        <h1 class="text-3xl font-black">Welcome to snapmenu ✅</h1>
        <div class="py-16">
            <div class="w-3/4 h-80 flex flex-nowrap overflow-hidden">
                <div class="flex flex-nowrap overflow-hidden">
                    {% for store in stores %}
                        <div class="{# min-w-[30%] #} flex flex-none justify-center items-center w-64 aspect-square border border-2 border-black mx-12">
                            <a href="{{ path('app_menu', {slug: store.slug}) }}">{{ store.name }}</a>
                        </div>
                    {% else %}
                        no store

                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

