{% extends 'admin/base.html.twig' %}

{% block title %}{% trans %} title.welcome_admin {% endtrans %}{% endblock %}

{% block body %}

    {% embed '_layout/full-width-color.html.twig' %}
        {% block content %}
            <h1>admin index {% trans %} title.menu{% endtrans %} {{ globalStore.name }}</h1>
            {% include 'menu/_menu.html.twig' with { 'menu': menu } only %}
        {% endblock %}
    {% endembed %}
{% endblock %}
