<div>
    {{ form_errors(form.name) }}
    {{ form_label(form.label, null , {
        'label_attr': {'class': ''}}) }}
    {{ form_widget(form.name, {'attr': {'class': 'text-primary-dark px-2 py-1'}}) }}

</div>