{# templates/login/index.html.twig #}
{% extends 'base.html.twig' %}


{% block body %}
    <div class="my-16 p-8 space-y-16 m-auto w-ful md:max-w-96 bg-light-neutral-light  dark:bg-dark-neutral-light  border border-light-text-base dark:border-dark-text-base">
        <twig:Title:H1>{% trans %}title.login{% endtrans %}</twig:Title:H1>
        {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <form action="{{ path('app_login') }}" method="post" class="flex flex-col  space-y-8">

            <div class="w-full flex flex-col space-y-4">
                <label for="email" class="text-light-text-base">{% trans %}form.email{% endtrans %}:</label>
                <input type="text" id="email" name="_username" value="{{ email }}" class="p-2 text-light-text-base">
            </div>

            <div class="w-full flex flex-col space-y-4">
                <label for="password" class="text-light-text-base">{% trans %}form.password{% endtrans %}:</label>
                <input type="password" id="password" name="_password" class="p-2 text-light-text-base">
            </div>
            {# If you want to control the URL the user is redirected to on success
        <input type="hidden" name="_target_path" value="/account"> #}

            <div class="w-full flex space-x-4">
                <twig:Button:Submit> {% trans %}button.login{% endtrans %} </twig:Button:Submit>
                <twig:Button:Secondary
                        href="{{ path('app_register') }}"> {% trans %}button.register{% endtrans %} </twig:Button:Secondary>
            </div>
        </form>

    </div>
{% endblock %}