{% extends 'admin/base.html.twig' %}

{% block title %}Edit Store{% endblock %}

{% block body %}
    <div class="px-4 py-8">
    
    <twig:Title:H1> {%trans%} title.store.edit {%endtrans%} </twig:Title:H1>

    {{ include('admin/store/store/_form.html.twig', {'button_label': 'button.update'}) }}


        <div class="flex space-x my-8">
            <twig:Button:Secondary href="{{ path('admin_default') }}">
                {% trans %} button.back {% endtrans %}
            </twig:Button:Secondary>
        </div>
    </div>


{% endblock %}
