{% extends 'base.html.twig' %}

{% block title %}New Store{% endblock %}

{% block body %}
    <h1>Create new Store</h1>

    {{ include('admin/store/store/_form.html.twig') }}

    <a href="{{ path('admin_default') }}">back </a>
{% endblock %}
