{#{% props dark = false, light = false %}#}

{#{% if (dark) %}#}
{#    {% set colors =  'dark-light-text-base outline-dark-neutral' %}#}
{#{% elseif light %}#}
{#    {% set colors =  'text-dark-primary  outline-light-primary ' %}#}
{#{% else %}#}
{#    {% set colors =  'text-dark-neutral outline-dark-neutral' %}#}
{#{% endif %}#}

<a {{ attributes.defaults({
    class: 'w-11/12 md:w-fit px-4 py-2 flex items-center justify-center gap-x-4 m-auto font-semibold cursor-pointer rounded-md
            outline outline-2 bg-transparent text-content-dark  outline-surface-secondary dark:outline-surface-secondary font-bold'
}) }}>
    {% block content %} {% endblock %}
</a>

