{#{% props dark = false, light = false %}#}

{#{% if (dark) %}#}
{#    {% set colors =  'bg-dark-neutral text-dark-text-base outline-dark-neutral' %}#}
{#{% elseif light %}#}
{#    {% set colors =  '!bg-light-primary text-light-text-base  outline-light-primary ' %}#}
{#{% else %}#}
{#    {% set colors =  'bg-surface-secondary text-content-dark  outline-surface-dark dark:outline-surface-light font-bold' %}#}
{#{% endif %}#}
<button type="submit"
        {{ attributes.defaults({
            class: 'flex items-center justify-center gap-x-4
            w-full md:w-fit px-4 py-2 font-semibold cursor-pointer rounded-md outline outline-2 bg-surface-secondary text-content-dark  outline-surface-dark dark:outline-surface-light font-bold'}) }}>
    {% block content %} {% endblock %}
</button>
