<div class="h-auto w-11/12 lg:max-w-5xl lg:max-w-7xl my-16 p-4 space-y-16 m-auto  bg-surface-light  dark:bg-surface-dark/90 border border-surface-light/50 dark:border-surface-light/50 rounded-md scroll-smooth relative">
    {% block content %}
    {% endblock %}
</div>