{{ form_start(form) }}
<div class="flex space-x-4 my-4">
    <div class="flex flex-col w-1/2 space-y-4">
        <twig:Form:Text :row="form.name" label="form.name"/>
        <div class="w-full flex justify-between">
            {% if form.rowOrder is defined %}
                <twig:Form:Number :row="form.rowOrder" label="form.rowOrder"/>
            {% endif %}
            <twig:Form:Boolean :row="form.isActive" label="form.isActive"/>
        </div>
    </div>
</div>
{% if form.name is defined %}
    <div class="my-8">
        <twig:Button:Submit> {{ button_label|default('Save')|trans }} </twig:Button:Submit>
{#        <button class="border border-gray-400 rounded-sm px-4 py-1">{{ button_label|default('Save')|trans }}</button>#}
    </div>
{% endif %}
{{ form_end(form) }}
