{% extends 'admin/layout/page.html.twig' %}

{% block title %}{% trans %}title.category.create {% endtrans %}{% endblock %}

{% block page_header %}
    <a href="{{ path('admin_category_index') }}">{% trans %} button.back {% endtrans %}</a>
{% endblock %}

{% block page_body %}
    <h1>{% trans %}title.category.create {% endtrans %}</h1>

    {{ include('admin/category/_form.html.twig', {'button_label': 'button.create'}) }}
{% endblock %}
