{% extends 'admin/base.html.twig' %}

{% block title %}{% trans %}title.category.create {% endtrans %}{% endblock %}

{% block body %}
    <div class="px-4 py-8">
        <twig:Title:H1> {% trans %}title.category.create {% endtrans %}</twig:Title:H1>

        {{ include('admin/category/_form.html.twig', {'button_label': 'button.create'}) }}

        
            <twig:Button:Secondary 
                href="{{ path('admin_category_index') }}" 
                class="border border-gray-400 rounded-sm px-4 py-1">
                {% trans %} button.back {% endtrans %}
            </twig:Button:Secondary>
    </div>
{% endblock %}
