<!DOCTYPE html>
<html lang="fr_BE" class="scroll-smooth">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('styles/app.css') }}">

    {% endblock %}

    {% block javascripts %}
        {% block importmap %}
            {{ importmap('app') }}
        {% endblock %}
    {% endblock %}
</head>
<body class="w-screen overflow-x-hidden min-h-screen p-4 md:p-16 bg-clear dark:bg-primary-dark text-primary-dark dark:text-clear flex flex-col justify-center items-center ">
<div class="h-auto w-full md:max-w-6xl lg:max-w-7xl scroll-smooth relative">
    {% if store is defined %}
        {% set showStore = 'true' %}
        {% set name = store.name %}
    {% else %}
        {% set showStore = 'false' %}
    {% endif %}
    <twig:NavBar showStore="{{ showStore }}" name="{{ name is defined ? name : null }}"/>
    {% block body %}{% endblock %}
</div>
</body>
</html>
