<!DOCTYPE html>
<html lang="fr_BE" class="scroll-smooth">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('styles/app.css') }}">

    {% endblock %}

    {% block javascripts %}
        {% block importmap %}
            {{ importmap('app') }}
        {% endblock %}
    {% endblock %}
</head>
<body class="w-screen overflow-x-hidden min-h-screen bg-base-light dark:bg-base-dark text-content-primary-light dark:text-content-primary-dark flex flex-col justify-start items-center relative">
{% include '_partial/_header/_header.html.twig' %}
<div class="h-auto w-11/12 lg:max-w-5xl lg:max-w-7xl my-16 p-1 space-y-16 m-auto  bg-surface-light  dark:bg-surface-dark/90 border border-surface-light/50 dark:border-surface-light/50 rounded-md scroll-smooth relative">


{#    <div class="my-16 p-8 space-y-16 m-auto w-11/12 md:max-w-96 bg-surface-light  dark:bg-surface-dark/90  border border-surface-light/50 dark:border-surface-light/50 rounded-md  #}{#w-full p-2  text-content-primary-light dark:text-content-primary-dark/70#}{#">#}
        {% block body %}{% endblock %}
{#    </div>#}
</div>
</body>
</html>
