{% extends 'base.html.twig' %}

{% block title %}Menu de {{ globalStore.name }} à {{ globalStore.postCode }}, {{ globalStore.city }}{% endblock %}

{% block body %}
    {% embed '_layout/full-width-color.html.twig' %}
        {% block content %}
            <twig:Title:H1>{% trans %} title.menu{% endtrans %} {{ globalStore.name }}</twig:Title:H1>

            {% block menu %}
                <span id="menu">&nbsp;</span>
                {% include 'menu/_menu.html.twig' with { 'menu': menu } only %}
            {% endblock %}

        {% endblock %}
    {% endembed %}
{% endblock %}
