{% extends 'base.html.twig' %}

{% block title %}Menu de {{ globalStore.name }} à {{ globalStore.postCode }}, {{ globalStore.city }}{% endblock %}

{% block body %}
    <div class="w-full p-2 lg:p-4">
        <twig:Title:H1>{% trans %} title.menu{% endtrans %} {{ globalStore.name }}</twig:Title:H1>

        {% block menu %}
            <span id="menu">&nbsp;</span>
            {#            <div class=""> #}
            {% include 'menu/_menu.html.twig' with { 'menu': menu } only %}
            {#            </div> #}
        {% endblock %}

{#        {% block opening %}#}
{#            <div id="heures-d-ouverture">#}
{#                #}{#           {% include 'menu/_opening_hours.html.twig' %} #}
{#                {% include 'default/_section/_opening-hours.html.twig' %}#}
{#            </div>#}
{#        {% endblock %}#}

{#        {% block contact %}#}
{#           {% include 'menu/_contact.html.twig' %}#}

{#        {% endblock %}#}
    </div>
{% endblock %}
